.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 230, 200);
}

.hamburger-container {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.hamburger:hover {
  color: skyblue;
}

.navbar-dummy-div {
  display: none;
}

.main-nav {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: 0 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.nav-links li a:hover {
  color: rgba(133, 0, 0, 0.7);
}

.side-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.3s;
}

.side-nav a {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-size: 1.2rem;
}

.side-nav a:hover {
  color: skyblue;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 2rem !important;
  color: #fff;
  border: none;
  background-color: transparent;
  outline: none;
}

.close-button:hover {
  color: rgba(133, 0, 0, 0.7);
}

@media (min-width: 700px) {
  .navbar {
    height: 60px;
  }

  .hamburger-container {
    display: none;
  }

  .main-nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .main-nav li {
    margin: 0 2.2rem;
  }

  .main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
  }

  .main-nav li a:hover {
    color: rgba(133, 0, 0, 0.7);
  }
}

@media (min-width: 800px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .navbar-dummy-div {
    display: block;
  }

  .main-nav li {
    margin: 0 3rem;
  }
}
