section#home {
  background-color: rgb(255, 230, 200);
}

.home-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

.home-links a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 40px;
}

.home-links a:hover {
  color: rgba(133, 0, 0, 0.7);
}

.home-links i {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Tablets */
@media (max-width: 800px) {
  .home-links {
    padding: 20px 25px 0 25px;
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .home-links i {
    font-size: 3.5rem;
  }
}

/* Mobile phones */
@media (max-width: 400px) {
  .home-links {
    padding: 20px 20px 0 20px;
  }
}

/* Mobile phones */
@media (max-width: 350px) {
  section#home h1 {
    font-size: 2.5rem;
  }

  section#home p {
    font-size: 1.2rem;
  }

  .home-links {
    padding: 20px 0 0 0;
  }
}
