section#contact {
  position: relative;
}

.contact-header {
  font-size: 2rem;
}

.contact-desc {
  font-size: 1rem;
}

.contact-form {
  color: #333;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contact-form input {
  font-family: 'Raleway', sans-serif;
  width: 80vw;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.1rem;
}

.contact-form textarea {
  font-family: 'Raleway', sans-serif;
  width: 90vw;
  font-size: 1rem;
}

.submit-button {
  margin-top: 0.8rem;
}

.submit-button button {
  width: 50vw;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  background: rgba(233, 76, 76, 0.9);
  color: #fff;
  outline: none;
}

.submit-button button:hover {
  background: rgba(238, 17, 17, 0.9);
}

@media (min-width: 500px) {
  .contact-header {
    font-size: 2.5rem;
  }

  .contact-desc {
    font-size: 1.1rem;
  }

  .contact-form input {
    width: 70vw;
  }

  .contact-form textarea {
    width: 80vw;
  }
  .submit-button button {
    width: 30vw;
  }
}

@media (min-width: 600px) {
  .contact-desc {
    font-size: 1.2rem;
  }

  .contact-form input {
    width: 60vw;
  }

  .contact-form textarea {
    width: 70vw;
  }

  .submit-button {
    margin-top: 1rem;
  }

  .submit-button button {
    width: 25vw;
    padding: 1rem;
  }
}

@media (min-width: 800px) {
  .contact-form input {
    width: 55vw;
  }

  .contact-form textarea {
    width: 65vw;
  }
}

@media (min-width: 900px) {
  .contact-header {
    font-size: 3rem;
  }

  .contact-form input {
    width: 50vw;
  }

  .contact-form textarea {
    width: 60vw;
  }

  .submit-button button {
    width: 20vw;
  }
}

@media (min-width: 1020px) {
  .contact-header {
    font-size: 3.2rem;
  }

  .contact-form input {
    width: 45vw;
  }

  .contact-form textarea {
    width: 50vw;
  }

  .submit-button button {
    width: 15vw;
  }
}

@media (min-width: 1250px) {
  .contact-form input {
    width: 30vw;
  }

  .contact-form textarea {
    width: 40vw;
  }

  .submit-button button {
    width: 10vw;
  }
}
