*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  height: 100vh;
}

body h1 {
  font-family: 'Raleway Dots', cursive;
}

.container {
  width: 100%;
  height: 100%;
}

.tablet-show {
  display: none;
}

.mobile-show {
  display: none;
}

/* Tablets */
@media (max-width: 800px) {
  /* Utilities */
  .tablet-hide {
    display: none;
  }

  .tablet-show {
    display: block;
  }
}

/* Mobile phones */
@media (max-width: 450px) {
  /* Utilities */
  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }
}

/* Mobile phones */
@media (max-width: 350px) {
  /* Utilities */
  .small-mobile-hide {
    display: none;
  }
}
